#intro {
    text-align: center;
    margin: 50px 55px 10px 10px;
    background-color: rgba(255,20,203,.8);
    border: 2px solid purple;
    color: whitesmoke;
}

#rw {
    text-align: center;
    background-color: rgba(255,20,203,.8);

    color: whitesmoke;
}


.choice {
    margin: 5px;
    background-color: rgba(255, 192, 203, 1);
    border: 2px solid rgba(255, 110, 150, 1);
    display: block;
    margin: 15px auto;
    height: 55px;
    min-width: 250px;

}

#question1 {
    text-align: center;
    margin: 50px 55px 10px 10px;
    background-color: rgba(255,20,203,.8);
    border: 2px solid purple;
    color: whitesmoke;
}



#finalScore {
    text-align: center;
    margin: 50px 55px 10px 10px;
    background-color: rgba(255,20,203,.8);
    border: 2px solid purple;
    color: whitesmoke;
}

#finalTime {
    font-size: 25px;
    color: whitesmoke;
}

#highscoresTitle {
    text-align: center;
    margin: 50px 55px 10px 10px;
    background-color: rgba(255,20,203,.8);
    border: 2px solid purple;
    color: whitesmoke;
}

#startQuiz {
    background-color: rgba(255, 192, 203, 1);
    border: 2px solid purple;
}

body {
    background-image: url("././Images/RubyDoo.jpg");
}

header {
    cursor: pointer;
    color: white;
    background-color: rgba(255,20,203,.6);
    border: 1px solid purple;
}

#scoreboard {
    color: white;
}